body {
    background-color: rgb(68, 68, 68);
}

h4 {
    color: rgb(0, 136, 255);
    text-align: left;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}

button {
    background-color: aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    padding:auto;
    border-radius: 3px;
}